.handle {
  width: 18px;
  user-select: none;
  border-radius: 4px;
  cursor: grab;
  display: flex;
  opacity: 0;
  background: transparent;
}

/* .addButton,
.optionMenu {
  opacity: 0;
} */

.optionMenu {
  position: relative;
}

.sortableElement {
  display: flex;
  gap: 4px;
  position: relative;
  outline: none;
  cursor: text;
  width: 100%;
}

/* .sortableElement:hover .handle {
  opacity: 1;
}
.sortableElement:hover .addButton {
  opacity: 1;
} */

.sortableElement:hover .optionMenu {
  opacity: 1;
}

.elementWrapper {
  position: relative;
  flex: 1;
}

.slide-break {
  width: 50%;
}

.sortableElement:not(.active) .insertBefore:before,
.sortableElement:not(.active) .insertAfter:after {
  height: 3px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  background-color: #7bb9ff;
}

.insertAfter:after {
  bottom: 0;
}

.insertBefore:before {
  top: 0;
}

.sortableElement:not(.active) .createNewColumnRight:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background-color: #7bb9ff;
}

.sortableElement:not(.active) .createNewColumnLeft:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background-color: #7bb9ff;
}

.selected {
  background-color: #7bb9ff;
}
