@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
}

.container {
  max-width: 1200px;
}

.spinning-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.textarea_input {
  background: linear-gradient(120deg, #fdfbfb 0%, #f2f6f7 100%);
}

.radial-gradient {
  background: radial-gradient(
    1043px at 46.3% 47.5%,
    rgb(254, 254, 255) 0%,
    rgb(220, 249, 250) 72.9%
  );
}

.linear-gradient {
  background: linear-gradient(to top, #f7f7f8 0%, #fbfdff 100%);
}

.linear-gradient-right {
  background: linear-gradient(to right, #f7f7f8 0%, #fbfdff 100%);
}

.linear-gradient-left {
  background: linear-gradient(to left, #f7f7f8 0%, #fbfdff 100%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 93.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 49% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  } */

  .dark {
    --background: 213 26% 7%;
    --foreground: 213 31% 91%;

    --muted: 216 28% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 212 17% 20%;
    --accent-foreground: 210 40% 87%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 37%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 38.4% 16.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
