@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin-top: 50px;
}

.dropdown-toggle:focus {
  border-color: orange;
}

.spinning-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.textarea_input {
  background: linear-gradient(120deg, #fdfbfb 0%, #f2f6f7 100%);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-width: 800px;
}
